/* Existing CSS rules */
.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 30px;;
    border-width: 3px;
  }
  
  .formGroup {
    margin-bottom: 16px;
  }
  
  .label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    min-height: 100px;
  }
  
  .formActions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .saveButton {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancelButton {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #f44336;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* New CSS rules */
  .logoPreview {
    margin-top: 10px;
    max-width: 100px; /* Adjust as needed */
    max-height: 100px; /* Adjust as needed */
    object-fit: contain;
  }
  