*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pages_job_search{
    height: 550px;
    width: 100%;
    background: linear-gradient(0deg, #fff, #ddffed);
}
.section_header{
   display: flex;
   
}
.content{
    width: 100%;
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
      
}  
.img-robot{
    width: 100px;
    height: 100px;
    margin-top: 50px;
}
.margin-img-left{
    height: 100px;
    width: 100px;
}
.highlight {
    font-weight: bold;
    color: #000000; 
}
.search_cv{
    width: 1100px;
    margin-top: 50px;
    margin: 0 auto  ;
   border-radius: 30px;
    height: 65px;
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
    margin-top: 30px;
}
.search_job{
    width: 270px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
   border-right: 1px solid rgb(202, 199, 199);
   margin-left: 20px;
}
.search_job input{
    width: 300px;
    height: 100%;
    border: none;
    font-size: 5px;
    outline: none;
   
    font-size: 20px;

}
.search_job{
    width: 270px;
    height: 100%;
    font-size: 5px;
    outline: none;
    padding-left: 20px;
    font-size: 15px;    
    cursor: pointer;

    
}
.ant-select-selector{
    border: none !important;
}


.search_job option{
    font-size: 15px;
}

.search_job input::placeholder{
    font-size: 15px;
}

.search_job_input:focus{
    border: none;
    box-shadow: none;
}
.icon_location{
    position: absolute;

}
.icon_search{
    position: absolute;
    transform: translate(-62px, 0px);
}
.search_sub{
    width: 150px;
    height: 45px;
    background-color: #00b14f;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: white;
    margin-left: 30px;
    margin-right: 10px;
}
.btn_search_sub:hover{
    background-color:#30c874 !important;
    color: white !important;
    box-shadow: 1px 1px 1px #AAA;
}
.btn_search_sub{
    background-color: #00b14f;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 30px;
}
.ant-select-selector{
    border: none !important;
}
.img_job_search{
   z-index: 0;
}
.list_job{
    height: 900px;
    width: 100%;
    margin: 0 auto;
    background-color: #f3f5f7;
}  
.title_list_job{
    width: 1100px;
    margin: 0 auto;
    padding-top:10px ;
   
}
.list_job_content{
  padding-top: 20px;
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    background-color: white;
}

