.cvUploadContainer {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.uploadInput {
    margin-bottom: 20px;
}

.fileNameContainer {
    margin-bottom: 20px;
}

.fileNameText {
    font-size: 16px;
    color: #333;
}

.uploadButton {
    margin-left: 10px;
}
