.card {
  background-color: #FFF;
  padding: 16px;
  border-radius: 12px;
  box-shadow: var(--admin-box-shadow);
  min-width: 224px;
}
.card .header .title {
  font-size: 14px;
  margin-top: 0;
}

.card .header .icon {
  font-size: 32px;
  color: var(--title-color);
}

.card .header .icon.employer {
  color: #ff9800;
}

.card .header .icon.postedJob {
  color: #20bbc9;
}

.card .content .amount {
  font-size: 28px;
  font-weight: bold;
}

.card .content .growth {
  font-size: 10px;
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.card .content .growth .compare {
  font-weight: 500;
  color: var(--text-secondary);
  margin-left: 8px;
}

.card .content .growth .icon {
  font-size: 14px;
  margin-right: 4px;
}

.card .content .growth .percent {
  font-weight: bold;
}

.card .content .growth .growthWrapper {
  padding: 2px 4px;
  border-radius: 16px;
  display: flex;
  align-items: center;
}

.card .content .growthUp .growthWrapper {
  background-color: #00b15022;
} 

.card .content .growthDown .growthWrapper {
  background-color: #ff4d5022;
} 

.card .content .growthUp .icon, 
.card .content .growthUp .percent {
  color: var(--title-color);
}

.card .content .growthDown .icon, 
.card .content .growthDown .percent {
  color: var(--error-color);
}