.uploadWrapper, 
.avatarUpload {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarUpload {
  overflow: hidden;
  padding: 4px;
}

.uploadWrapper .avatarUpload .avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.uploadWrapper .avatarUpload .iconEye {
  display: none;
  color: #ccc;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.uploadWrapper .avatarUpload:hover .iconEye {
  display: inline-block;
}

.uploadWrapper .avatarUpload:hover::before {
  content: '';
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border-radius: 50%;
  background-color: rgb(0, 0, 0, 0.3);
  position: absolute;
  top: 4px;
  left: 4px;
  color: #FFF;
}

.uploadWrapper .avatarUpload {
  cursor: pointer;
  position: relative;
}

.uploadWrapper .editBtn {
  max-height: 24px;
  max-width: 52px;
  border: none;
  background-color: #FFF;
  padding: 0 4px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: -12px;
  border-radius: 6px;
  font-weight: 500;
  color: #515151;
  font-size: 12px;
  opacity: 0.75;
  border: 1px solid #515151;
}

.uploadWrapper .editBtn:hover {
  color: var(--title-color) !important;
  border: 1px solid var(--title-color) !important;
  opacity: 1;
}