.chat {
  height: 100%;
  /* background-color: #FFF; */
  border-radius: 12px;
  /* overflow-y: hidden; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.chat .friends,
.chat .content {
  background-color: #FFF;
  border-radius: 12px;
}

.chat .friends {
  width: 30%;
  height: 100%;
}

.chat .content {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat .content .contentWrapper {
  height: 85%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 28px 12px 28px;
}

.chat .friends {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 12px 4px;
  gap: 4px;
}

.chat .friends .friend {
  width: 100%;
  padding: 12px 54px 12px 28px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  cursor: pointer;
  border-radius: 12px;
}

.chat .friends .friend.select {
  background-color: #00b1501f;
}

.chat .friends .friend:not(.select):hover {
  background-color: var(--bg-blur);
}

.chat .header {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  padding: 6px 28px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

.chat .avatarWrapper {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  /* overflow: hidden; */
  border: 1px var(--text-secondary) solid;
  position: relative;
}

.chat .avatarWrapper.active::after {
  content: "";
  padding: 4px;
  border-radius: 50%;
  border: 2px #FFF solid;
  background-color: var(--title-color);
  position: absolute;
  bottom: 0;
  right: 0;
}

.chat .avatarWrapper .avatar {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
}

.chat .info {
  flex: 1;
}

.chat .info h4 {
  font-size: 15px;
  margin-bottom: 4px;
}

.chat .info p {
  font-size: 13px;
  color: var(--text-secondary);
}

.chat .info h4,
.chat .info p {
  max-width: 172px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat .contentWrapper .firstMessage, 
.chat .contentWrapper .loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chat .contentWrapper .firstMessage .avatarWrapper {
  width: 92px;
  height: 92px;
}

.chat .contentWrapper .firstMessage h3 {
  margin: 6px 0 12px;
}

.chat .contentWrapper .messages {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  padding-top: 12px;
}

.chat .content .messages .yourMessage {
  display: flex;
  justify-content: end;
}

.chat .content .messages .friendMessage .messageWrapper, 
.chat .content .messages .yourMessage .messageWrapper {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 24px;
  /* font-weight: 500; */
  margin-bottom: 2px;
  max-width: 564px;
  word-wrap: break-word;
  line-height: 1.3;
}

.chat .content .messages .yourMessage .messageWrapper {
  border-bottom-right-radius: 0;
  background-color: var(--msg-color);
  color: #FFF;
}

.chat .content .messages .friendMessage .messageWrapper {
  border-top-left-radius: 0;
  background-color: #F0F0F0;
  color: #000;
}

/* .chat .content .texting .send:hover:active {
  background-color: var(--bg-blur);
  color: var(--title-color);
} */

.chat .content .requireChooseConversation {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.chat .content .requireChooseConversation .imgNoConversation {
  width: 248px;
}
