.share {
  width: 100%;
  min-height: 170px;
  /* Thay đổi height cố định thành min-height */
  height: auto;
  /* Cho phép div tự động mở rộng theo nội dung */
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin-bottom: 20px;
  /* Thêm margin bottom */
}

.shareWrapper {
  padding: 20px;
}

.shareTop {
  display: flex;
  align-items: center;
}

.shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.shareInput {
  border: none;
  width: 80%;
}

.shareInput:focus {
  outline: none;
}

.shareHr {
  margin-top: 15px;
  margin-bottom: 15px;
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOptions {
  display: flex;
  margin-left: 10px;
}

.shareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.shareIcon {
  font-size: 18px;
  margin-right: 3px;
}

.shareOptionText {
  font-size: 14px;
  font-weight: 500;
}

.shareButton {
  min-width: fit-content;
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: green;
  font-weight: 500;
  cursor: pointer;
  color: white;
}