.container {
  padding: 20px;
  margin-top: 64px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  border: 5px solid #e0e0e0; 
  border-radius: 8px;
}
