.account {
  background-color: #FFF;
  border-radius: 12px;
  padding: 16px;
  /* height: 100%; */
}

.account .avatar {
  display: flex;
  justify-content: center;
}

.account .info .adminName {
  /* margin-top: 12px; */
  font-weight: 600;
  font-size: 20px;
}

.account .info .adminName,
.account .info .role {
  text-align: center;
  text-transform: capitalize;
}

.account .info .role {
  margin: 4px 0 12px;
  font-weight: 500;
  font-size: 12px;
}

.account .info .address,
.account .info .tel,
.account .info .email,
.account .info .dob {
  text-align: center;
  /* font-weight: 500; */
  font-weight: 400;
  font-weight: 500;
}

.account .info .address {
  margin: 6px 0 8px;
  font-size: 12px;
}

.account .info .tel,
.account .info .email,
.account .info .dob {
  margin-bottom: 4px;
  font-size: 11px;
  color: var(--text-secondary);
  margin-bottom: 16px;
}

.account .info .address, 
.account .info .tel,
.account .info .email,
.account .info .dob {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.account .updateInfo {
  margin: 12px 42px;
  padding: 0 64px;
}

.account .changeInfo {
  text-align: center;
}

.account .lbUpdateFrm {
  color: var(--text-secondary);
  font-size: 14px;
  font-weight: 500;
}

.account .submitWrapper {
  text-align: center;
}

.account .btnLogin {
  max-width: 234px;
}

.account .icon {
  color: var(--title-color);
}